<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="mb-3">
    <nav class="nav bg-light p-1">
        <a class="nav-link" th:href="@{/}"> All Cars</a>
        <a class="nav-link" th:href="@{/addcategory}"> Add Category</a>
        <a class="nav-link active" th:href="@{/addcar}"> Add Car</a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:each="categorie: ${categories}"
                   th:value="${categorie.id}"
                   th:text="${categorie.title}"
                   th:href="@{/viewcategory/{id}(id=${categorie.id})}"
                ></a>
            </div>
        </div>
    </nav>
</div>
<div class="container"> <!--container -->
    <h2>New Car</h2>
    <form th:action="@{/processcar}" th:object="${car}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <select class="form-control" id="cat" th:field="*{category}">
                <option th:each="categorie : ${categories}"
                        th:value="${categorie.id}"
                        th:text="${categorie.title}"></option>
            </select>
        </div>
        <div class="form-group">
            Make: <input type="text" th:field="*{make}"/>
            <span th:if="${#fields.hasErrors('make')}" th:errors="*{make}"></span>
        </div>
        <div class="form-group">
            Model: <input type="text" th:field="*{model}"/>
            <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span>
        </div>
        <div class="form-group">
            Year: <input type="text" th:field="*{year}"/>
            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
        </div>
        <div class="form-group">
            Color: <input type="text" th:field="*{color}"/>
            <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span>
        </div>
        <div>
            <img th:src="*{imgUrl}"/>
        </div>
        <div class="form-group">
            <input class="form-control-file" type="file" name="file"/>
        </div>
        <input class="btn btn-secondary mb-2" type="submit" value="Submit"/>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>